nav{

font-family: 'Roboto Condensed', sans-serif;

padding: 1px;
vertical-align: middle;
  background-color:#2a4166;

}



ul{
	margin-top: 40px;
}


ul.navigation li a.on
{
    background:yellow;
    padding:2px 6px;
}



a:hover{

  color: #cadbf7;
transition:0.1s ease;

  background-color: #26364f;

}

.navbar-header{
	margin-top: 20px;
	margin-left: 3em;

}

.active>a{

  background-color: #616161;

}