nav{

font-family: 'Roboto Condensed', sans-serif;
 
padding: 1px;
  background-color:#2a4166;

}



.logo{

  color: #fff;

  font-family: 'cabin', sans-serif;

  font-size: 1.5em;

}



ul.nav a{

  transition:0.3s ease;

}



ul.nav a:hover{

  color: #fff;

  background-color: #0D47A1;

}

.navbar-header{
	margin-top: 20px;
	margin-left: 3em;

}

.active>a{

  background-color: #616161;

}